__pycache__/
*.py[cod]
.DS_Store
orz

tmp/*
!tmp/readme.txt

grading/*
!grading/readme.md
!grading/todo/

grading/todo/*
!grading/todo/readme.txt

users/*
!users/readme.md

problems/*

working-aws/*

games/*
!games/readme.md
.vscode/*

SECRET.txt
graderlog*.log
problems_by_status.json
