.loading-spinny-container {
    position: absolute;
    z-index: -1;
    display: none;
    background: none;
    inset: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    padding: 0;
    box-shadow: none;
    border: none;
    overflow: hidden;
}

.loading-spinny {
    position: absolute;
    z-index: -1;
    display: block;
    inset: 25% 0 0 50%;
    /* ^^ top right bottom left*/
    width: calc(60% + 3px);
    height: 50%;
    background: #0076d1;
    transform-origin: 0% 50%;
    transform: rotate(0deg);
    animation: spin 4s linear 0s infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#submission-panel {
    display: flex;
    flex-direction: row;
}

#results-container {
    position: relative;
    box-shadow: none;
}

#tabs {
    display: flex;
    flex-direction: column;
    background: none;
}

.tab {
    margin: 0;
    border-radius: 8px 0 0 8px;
    padding: 0.5rem calc(0.5rem + 10px) 0.5rem 0.5rem;
    width: calc(100% + 10px);
}

span.material-symbols-outlined {
    font-size: 1.75rem;
}

.tab.selected {
    background: var(--button-hover);
    transform: translate(4px, 0px);
}

#tab-content-container {
    flex-grow: 1;
    z-index: 1;
}

.flex-hor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

textarea.code {
    font-family: monospace;
    font-size: 1rem;
}