<!DOCTYPE html>
<html>

<head>
     <link id="water_css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
     <link id="custom_css" rel="stylesheet" href="static/style.css">
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>PHSCPT Practice Platform</title>
     <link rel="icon" href="static/images/icon.png">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Asap:ital@0;1&display=swap" rel="stylesheet">
     <script src="static/common.js" defer></script>
</head>

<body>
     <br>
     <a href="/"><img src="static/images/logo.png" style="width: 30%"></a>
     <br>
     <a onclick="switchColorMode()">[switch color mode]</a>
     <h2>Practice Contest Platform</h2>
     <h1>401</h1>
     <h2>Unauthorized</h2>
     <p>You say you are l33t hax0r, but I am even more l33t pr0gramm3r. Your pitiful hack1ng att3mpt has fail3d!
          muahahaha~
     </p>
     <pre>
     <code>
          _________
         / ======= \
        / __________\
       | ___________ |
       | | access  | |
       | |  denied | |
       | |_________| |______________
       \=____________/              )
       / """"""""""" \             /
      / ::::::::::::: \        =D-'
     (_________________)
     </code>
     </pre>
</body>

</html>