<!DOCTYPE html>
<html>

<head>
  <link id="water_css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <link id="custom_css" rel="stylesheet" href="static/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PHSCPT Practice Platform</title>
  <link rel="icon" href="static/icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Asap:ital@0;1&display=swap" rel="stylesheet">
  <script src="static/common.js" defer></script>
</head>

<body>
  <br>
  <a href="/"><img src="static/logo.png" style="width: 30%"></a>
  <br>
  <a onclick="switchColorMode()">[switch color mode]</a>
  <h2>Practice Contest Platform</h2>

  <h1>500</h1>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
</script>
  <h2>Internal Server Error</h2>
  <p>We've crashed the website. Don't worry, $N$ $(1\leq N\leq 10^5)$ highly intelligent monkeys with typewriters are
    doing the best they can to resolve the situation.</p>
  <pre>
  <code>
                          .="=.
                        _/.-.-.\_     _
                       ( ( o o ) )    ))
                        |/  "  \|    //
        .-------.        \'---'/    //
       _|~~ ~~  |_       /`"""`\\  ((
     =(_|_______|_)=    / /_,_\ \\  \\
       |:::::::::|      \_\\_'__/ \  ))
       |:::::::[]|       /`  /`~\  |//
       |o=======.|      /   /    \  /
       `"""""""""`  ,--`,--'\/\    /
                     '-- "--'  '--'
  </code>
  </pre>

  <h4>Error details:</h4>
  <pre>
<code>
{{ data }}
</code>
</pre>
</body>

</html>