<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
        <link rel="stylesheet" href="static/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PHSCPT Practice Platform</title>
        <link rel="icon" href="static/icon.png">
    </head>
    <body>
        <br>
        <a href="/"><img src="static/logo.png" style="width: 30%"></a>
        <h2>Practice Contest Platform</h2>
        {% block content %}{% endblock %}
    </body>
</html>