{% extends "base.html" %}
{% block content %}
<br>
<form method="post">
    <h1>Create Problem</h1>
    <h2>Problem Identifier</h2>
    <input name="id" placeholder = "Short Unique Text">
    <br>
    <h2>Problem Title</h2>
    <input name="title" placeholder = "Problem Title">
    <br>
    <h2>Status</h2>
    <div>
        <input type="radio" name="status" value="public" checked> Public<br>
        <input type="radio" name="status" value="private"> Private<br>
    </div>
    <h2>Description</h2>
    <p>Type in markdown.</p>
    <textarea name="description"></textarea>    
    <br>
    <h2>Testcases</h2>
    {% for i in range(max_testcases) %}
    <div class="grid-mini">
        <div class="box">
            <h4>Input {{i}}</h4>
            <textarea name="input{{ i }}"></textarea>
        </div>
        <div class="box">
            <h4>Output {{i}}</h4>
            <textarea name="output{{ i }}"></textarea>
        </div>
    </div><br>
    {% endfor %}
    <br>
    <input type="submit" text="Save Problem">
</form>

{% endblock %}