{% extends "base.html" %}
{% block content %}
<h1>Game Code: {{ id }}</h1>
<h3>Go to phscpt.pythonanywhere.com and enter code displayed above</h3>
<div class="grid-mini" id="player-grid">
</div>
<h2><i>Waiting To Start...</i></h2>
<form method=post>
    <input type="submit" value="Start">
</form>
<script>
    setInterval(function() {
        fetch("/api/players?id={{ id }}")
            .then(response => response.json())
            .then(function(data){
                document.getElementById("player-grid").innerHTML = "";
                for (let player of data) {
                    let box = document.createElement("div");
                    box.className = "box";
                    box.innerHTML = player[1];
                    document.getElementById("player-grid").appendChild(box);
                }
            });
    }, 1000);
</script>
{% endblock %}