{% extends "base.html" %}
{% block content %}
<form action="log_in" id="log_in" style="position:absolute;top:30px;right:40px"> <!---Change right px to 170 when adding back sign up-->
    <input type="submit" value="Admin Log In" />
</form>
<button id="sign_out" onclick="signOut()" style="position:absolute;top:30px;right:40px">Sign Out</button> <!---Change right px to 170 when adding back sign up-->
<button id="addQuestion" onclick=" window.open('https://forms.gle/WTtjz5tkhXwH98hW9','_blank')" style="position:absolute;bottom:30px;right:40px">Suggest Problem</button>
<!--
<form action="sign_up" style="position:absolute;top:30px;right:40px">
    <input type="submit" class="button-emphasis" value="Sign Up" />
</form>-->
<div class="grid">
    <div class="box">
        <h2>Host Contest</h2>
        <button onclick="location.href='select'">Host</button>
    </div>
    <div class="box">
        <form method="post">
            <h2>Join Contest</h2>
            <input name=game_id placeholder="Enter Join Code">
            <input name=player_name placeholder="Enter Name">
            <input type="submit" value="Join" class="button-emphasis">
        </form>
    </div>
</div>
<br>
<!--<form method="post" action="list">
    <input type="text" name="userid" id="userid" hidden style="display:none"> <!-- very cursed userid transfer --
    <input type="submit" id="catalogue" value="Problem Catalogue">
</form>-->
<button id="public_catalogue" onclick="location.href='public'">Problem Catalogue</button>
<button id="catalogue" onclick="location.href='list'">Admin Catalogue</button>
<script>
    function setCookie(cname,cvalue,exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
      
    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
      
    function checkCookie() {
        return getCookie("username");
    }

    updateLogInOut();

    function updateLogInOut(){

        thisAdmin = checkCookie();
        //document.getElementById("userid").value = getCookie("userid");

        if ( thisAdmin == "True" ){ // If user is an admin
            document.getElementById("catalogue").style.display = "initial";
            document.getElementById("addQuestion").style.display = "none";
        }

        else { // If user is not admin
            document.getElementById("catalogue").style.display = "none";
            document.getElementById("addQuestion").style.display = "initial";
        }
        
        if ( thisAdmin == "NotIn" || thisAdmin == "" ){ // If user hasn't logged in
            document.getElementById("sign_out").style.display = "none";
            document.getElementById("log_in").style.display = "initial";
        }
        else{ // If user has logged in
            document.getElementById("log_in").style.display = "none";
            document.getElementById("sign_out").style.display = "initial";
        }    
    }

    function signOut(){
        setCookie("username", "NotIn", 30);
        setCookie("userid", "NotIn", 30);
        updateLogInOut();
    }
</script>
<br><br>
<footer>Made by <a href="https://jierueichang.github.io" style="color:var(--text-muted);">Jieruei Chang</a> and <a href="https://github.com/Nockname" style="color:var(--text-muted);">Nick Hagedorn</a></footer>
<br>
{% endblock %}