{% extends "base.html" %}
{% block content %}
<form action="log_in" style="position:absolute;top:30px;right:170px"> <!---Change right px to 170 when adding back sign up-->
    <input type="submit" value="Admin Log In" />
</form>
<form action="sign_up" style="position:absolute;top:30px;right:40px">
    <input type="submit" class="button-emphasis" value="Sign Up" />
</form>
<div class="grid">
    <div class="box">
        <h2>Host Contest</h2>
        <button onclick="location.href='select'">Host</button>
    </div>
    <div class="box">
        <form method="post">
            <h2>Join Contest</h2>
            <input name=game_id placeholder="Enter Join Code">
            <input name=player_name placeholder="Enter Name">
            <input type="submit" value="Join">
        </form>
    </div>
</div>
<br>
<a href="list">Problem Catalogue</a>
{% endblock %}