{% extends "base.html" %}
{% block content %}
<br>
<div class="box">
    <form method="post">
        <h2>Join Contest: {{ id }}</h2>
        <input name=player_name placeholder="Enter Name">
        <input type="submit" value="Join" class="button-emphasis">
    </form>
</div>
<br>
<br><br>
<footer>Made by <a href="https://jierueichang.github.io" style="color:var(--text-muted);">Jieruei Chang</a> and <a href="https://github.com/Nockname" style="color:var(--text-muted);">Nick Hagedorn</a></footer>
<br>
{% endblock %}