<!DOCTYPE html>
<html>

<head>
    <link id="water_css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link id="custom_css" rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PHSCPT Practice Platform</title>
    <link rel="icon" href="static/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital@0;1&display=swap" rel="stylesheet">
    <script src="static/common.js" defer></script>
    <script src="static/list.js" defer></script>
</head>

<body>
    <br>
    <a href="/"><img src="static/logo.png" style="width: 30%"></a>
    <br>
    <a onclick="switchColorMode()">[switch color mode]</a>
    <h2>Practice Contest Platform</h2>
    <!--
<div class="grid">    
    {% for problem in problems %}
        {% if problem.status == "public" %}
        <div class="box">
            <h2 style="margin-top:10px">{{ problem.title }}</h2>
            <button onclick="location.href='problem?id='+'{{ problem.id }}'">View</button>
        </div>
        {% endif %}
    {% endfor %}
</div> -->
    <div id="public-container">
        <h1 id="public-title">Used in Competition</h1>
        <br>
        <table style="font-size: 14pt; table-layout: auto">
            <thead>
                <tr>
                    <th id="problem-title">Problem</th>
                    <th id="difficulty-title">Difficulty</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody id="public-problems">

            </tbody>
        </table>
    </div>
    <div id="publvate-container">
        <h1>Ready for Competition</h1>
        <br>
        <table style="font-size: 14pt; table-layout: auto">
            <thead>
                <tr>
                    <th>Problem</th>
                    <th>Difficulty</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody id="publvate-problems">

            </tbody>
        </table>
    </div>
    <div id="private-container">
        <h1>Not Ready for Competition</h1>
        <br>
        <table style="font-size: 14pt; table-layout: auto">
            <thead>
                <tr>
                    <th>Problem</th>
                    <th>Difficulty</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody id="private-problems">

            </tbody>
        </table>
        <br>
    </div>
</body>

</html>