{% extends "base.html" %}
{% block content %}
<h1>Admin Catalogue</h1>
<a id="upload-link" href="upload">Upload a Problem</a>
<br><br>
<div class="grid">
    {% for problem in problems %}
    <div class="box">
        <h2 style="margin-top:10px">{{ problem.title }}</h2>
        <button onclick="location.href='problem?id='+'{{ problem.id }}'" class="button-emphasis">View</button>
        <button onclick="location.href='edit?id='+'{{ problem.id }}'">Edit</button>
    </div>
    {% endfor %}
</div>
<br>
{% endblock %}