{% extends "base.html" %}
{% block content %}
<h1>Admin Catalogue</h1>
<a id="upload-link" href="upload">Upload a Problem</a>
<br><br>
<h2>Used in Competition</h2>
<!--
<div class="grid">
    {% for problem in problems %}
    {% if problem.status == "public" %}
    <div class="box">
        <h2 style="margin-top:10px">{{ problem.title }}</h2>
        <button onclick="location.href='problem?id='+'{{ problem.id }}'" class="button-emphasis">View</button>
        <button onclick="location.href='edit?id='+'{{ problem.id }}'">Edit</button>
    </div>
    {% endif %}
    {% endfor %}
</div>-->
<table style="font-size: 14pt; table-layout: auto">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Difficulty</th>
            <th>Tags</th>
            <th>Edit</th>
        </tr>
    </thead>
    {% for problem in problems %}
        {% if problem.status == "public" %}
        <tr>
            <td style="padding: 10px">
                <a href="problem?id={{ problem.id }}">{{ problem.title }}</a>
            </td>
            <td style="padding: 10px">
                {% if "difficulty" in problem %}
                    {{ problem.difficulty }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td style="padding: 10px">
                {% if "tags" in problem %}
                    {{ problem.tags }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td style="padding: 10px">
                <a href="edit?id={{ problem.id }}">Edit</a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
<br><br>
<hr>
<h2>Ready for Competition</h2>
<!--<div class="grid">
    {% for problem in problems %}
    {% if problem.status == "publvate" %}
    <div class="box">
        <h2 style="margin-top:10px">{{ problem.title }}</h2>
        <button onclick="location.href='problem?id='+'{{ problem.id }}'" class="button-emphasis">View</button>
        <button onclick="location.href='edit?id='+'{{ problem.id }}'">Edit</button>
    </div>
    {% endif %}
    {% endfor %}
</div>-->
<table style="font-size: 14pt; table-layout: auto">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Difficulty</th>
            <th>Tags</th>
            <th>Edit</th>
        </tr>
    </thead>
    {% for problem in problems %}
        {% if problem.status == "publvate" %}
        <tr>
            <td style="padding: 10px">
                <a href="problem?id={{ problem.id }}">{{ problem.title }}</a>
            </td>
            <td style="padding: 10px">
                {% if "difficulty" in problem %}
                    {{ problem.difficulty }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td style="padding: 10px">
                {% if "tags" in problem %}
                    {{ problem.tags }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td style="padding: 10px">
                <a href="edit?id={{ problem.id }}">Edit</a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
<br><br>
<hr>
<h2>Not ready for Competition</h2>
<!--<div class="grid">
    {% for problem in problems %}
    {% if problem.status == "private" %}
    <div class="box">
        <h2 style="margin-top:10px">{{ problem.title }}</h2>
        <button onclick="location.href='problem?id='+'{{ problem.id }}'" class="button-emphasis">View</button>
        <button onclick="location.href='edit?id='+'{{ problem.id }}'">Edit</button>
    </div>
    {% endif %}
    {% endfor %}
</div>-->
<table style="font-size: 14pt; table-layout: auto">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Difficulty</th>
            <th>Tags</th>
            <th>Edit</th>
        </tr>
    </thead>
    {% for problem in problems %}
        {% if problem.status == "private" %}
        <tr>
            <td style="padding: 10px">
                <a href="problem?id={{ problem.id }}">{{ problem.title }}</a>
            </td>
            <td style="padding: 10px">
                {% if "difficulty" in problem %}
                    {{ problem.difficulty }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td style="padding: 10px">
                {% if "tags" in problem %}
                    {{ problem.tags }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td style="padding: 10px">
                <a href="edit?id={{ problem.id }}">Edit</a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
<br>
{% endblock %}