<!DOCTYPE html>
<html>

<head>
    <link id="water_css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link id="custom_css" rel="stylesheet" href="static/style.css">
    <link id="problem_css" rel="stylesheet" href="static/problem.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PHSCPT Practice Platform</title>
    <link rel="icon" href="static/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital@0;1&display=swap" rel="stylesheet">
    <script src="static/common.js" defer></script>
    <script src="static/problem.js" defer></script>
</head>

<body>
    <br>
    <a href="/"><img src="static/logo.png" style="width: 30%"></a>
    <br>
    <a onclick="switchColorMode()">[switch color mode]</a>
    <h2>Practice Contest Platform</h2>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
        });
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <button id="scoreboard_button" style="display:none">Back to Scoreboard</button>
    <button id="catalog_button" onclick="location.href='public'">Back to Catalogue</button>
    <h1>{{ data.title }}</h1>
    <div class="box">
        {{ data.description | safe }}
    </div>
    <h2>Submit solution</h2>
    <div class="box" submission={{submission}}>
        <form id="submission-box">
            <div class="grid-mini">
                <input type="file" name="file" accept=".py,.java,.cpp" id="file" required>
                <div style="text-align:right;">
                    <select name="language" id="language" style="display:inline-block;width:auto;margin-right:0px"
                        required>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="python2">Python 2.7.18</option>
                        <option value="python">Python 3.9.5</option>
                    </select>
                </div>
            </div>
        </form>
        <input type="submit" id="submit" onclick="submit()">
        <!-- ^^ outside of form because we have our own submit function -->
    </div>

    <h2>Results</h2>

    <div class="box" id="results-container">
        <div id="loading-spinny-container" class="box loading-spinny-container">
            <div class="loading-spinny"></div>
        </div>
        Submit a program to view results
    </div>

    <br><br><br>
</body>

</html>