{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
</script>
<button id="scoreboard_button">Back to Scoreboard</button>
<button id="catalog_button" onclick="location.href='public'">Back to Catalogue</button>
<script>
    const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
    });
    let p_id = params.player;
    let g_id = params.g_id;
    if (p_id != null && g_id != null) {
        document.getElementById("scoreboard_button").addEventListener("click", function() {
            location.href = "scoreboard?id=" + g_id + "&player=" + p_id;
        });
        document.getElementById("catalog_button").style.display = "none";
    }
    else {
        document.getElementById("scoreboard_button").style.display = "none";
        document.getElementById("catalog_button").style.display = "block";
    }
</script>
<h1>{{ data.title }}</h1>
<div class="box">
    {{ data.description | safe }}
</div>
<h2>Submit solution</h2>
<div class="box">
    <form method="post" enctype=multipart/form-data onSubmit="document.getElementById('submit').disabled=true;">
        <div class="grid-mini">
            <input type="file" name="file" accept = ".py,.java,.cpp" id="file" required>
            <script>
                document.getElementById("file").onchange = function(){
                    extension = String((document.getElementById("file")).value).split('.').pop();
                    var i = 0;
                    if (extension == "cpp"){
                        i = 0
                    }
                    if (extension == "java"){
                        i = 1
                    }
                    if (extension == "py"){
                        i = 3
                    }
                    document.getElementById("language").options[i].selected = true;
                }
            </script>
            <div style="text-align:right;">
                <select name="language" id="language" style="display:inline-block;width:auto" required>
                    <option value="cpp">C++</option>
                    <option value="java">Java</option>
                    <option value="python2">Python 2.7.18</option>
                    <option value="python">Python 3.9.5</option>
                </select>        
            </div>
        </div>
        <input type="submit" id="submit">
    </form>
</div>

<h2>Results</h2>

<div class="box">
    {% if results %}
    <div class="grid-tiny">
        {% for result in results %}
            {% if result[0] == "AC" %}
                <div class="result-box success" title="Accepted">
                    {{ loop.index }} <b>AC</b>
                    <p>{{ result[1] }}ms</p>
                </div>
            {% elif result[0] == "WA" %}
                <div class="result-box fail" title="Wrong Answer">
                    {{ loop.index }} <b>{{ result[0] }}</b>
                    <p>{{ result[1] }}ms</p>
                </div>
            {% elif result[0] == "TLE" %}
                <div class="result-box fail" title="Time Limit Exceeded">
                    {{ loop.index }} <b>{{ result[0] }}</b>
                    <p>{{ result[1] }}ms</p>
                </div>
            {% elif result[0] == "RE" %}
                <div class="result-box fail" title="Runtime Error">
                    {{ loop.index }} <b>{{ result[0] }}</b>
                    <p>{{ result[1] }}ms</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
    Submit a program to view results
    {% endif %}            
</div>

<br><br><br>
{% endblock %}
