{% extends "base.html" %}
{% block content %}
<h1>{{ data.title }}</h1>
<div class="box">
    {{ data.description | safe }}
</div>
<h2>Submit solution</h2>
<div class="box">
    <form method="post" enctype=multipart/form-data>
        <div class="grid-mini">
            <input type="file" name="file" accept = ".py,.java">
            <div style="text-align:right;">
                <select name="language" id="language" style="display:inline-block;width:auto">
                    <option value="python">Python 3.6.9</option>
                    <option value="java">Java</option>
                    <option value="c++">C++</option>
                </select>        
            </div>
        </div>
        <input type="submit">
    </form>
</div>

<h2>Results</h2>

<div class="box">
    {% if results %}
    <div class="grid-tiny">
        {% for result in results %}
            {% if result[0] == "AC" %}
                <div class="result-box success" title="Accepted">
                    {{ loop.index }} <b>AC</b>
                    <p>{{ result[1] }}ms</p>
                </div>
            {% elif result[0] == "WA" %}
                <div class="result-box fail" title="Wrong Answer">
                    {{ loop.index }} <b>{{ result[0] }}</b>
                    <p>{{ result[1] }}ms</p>
                </div>
            {% elif result[0] == "TLE" %}
                <div class="result-box fail" title="Time Limit Exceeded">
                    {{ loop.index }} <b>{{ result[0] }}</b>
                    <p>{{ result[1] }}ms</p>
                </div>
            {% elif result[0] == "RE" %}
                <div class="result-box fail" title="Runtime Error">
                    {{ loop.index }} <b>{{ result[0] }}</b>
                    <p>{{ result[1] }}ms</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
    Submit a program to view results
    {% endif %}            
</div>

<br><br><br>
{% endblock %}
