<!DOCTYPE html>
<html>

<head>
    <link id="water_css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <link id="custom_css" rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PHSCPT Practice Platform</title>
    <link rel="icon" href="static/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital@0;1&display=swap" rel="stylesheet">
    <script src="static/common.js" defer></script>
    <script src="static/scoreboard.js" defer></script>
</head>

<body player_name="{{player_name}}" tim="{{time}}">
    <br>
    <a href="/"><img src="static/logo.png" style="width: 30%"></a>
    <br>
    <a onclick="switchColorMode()">[switch color mode]</a>
    <h2>Practice Contest Platform</h2>
    <h1 id="timer" style="position:absolute;top:0px;right:40px"></h1>
    <table style="width:unset">
        <thead>
            <tr>
                <th>Rank</th>
                <th style="width: 20%">Name</th>
                <th>Score</th>
                {% for problem in problems %}
                <th><a href="problem?id={{ problem }}&g_id={{ id }}&player={{ player }}">{{ loop.index }}</a></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="player-list">
        </tbody>
    </table>
    <h2 style="position:fixed;right:40px;bottom:20px;box-sizing:border-box">{{ player_name }}</h2>
</body>

</html>