{% extends "base.html" %}
{% block content %}
<h1 id="timer" style="position:absolute;top:0px;right:40px"></h1>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th style="width: 20%">Name</th>
            <th>Score</th>
            {% for problem in problems %}
            <th><a href="problem?id={{ problem }}&g_id={{ id }}&player={{ player }}">{{ loop.index }}</a></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id="player-list">
    </tbody>
</table>
<h2 style="position:fixed;right:40px;bottom:20px;box-sizing:border-box">{{ player_name }}</h2>
<script>
    let duration = parseInt("{{ time | safe }}");
    let timerActive = (duration != -1);
    let totalTime = duration;

    function update() {

        if (timerActive()){
            if (duration >= 0){
                hours = parseInt(duration / 3600, 10)
                minutes = parseInt(duration / 60 % 60, 10);
                seconds = parseInt(duration % 60, 10);
        
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
        
                document.getElementById("timer").innerHTML =  hours + ":" + minutes + ":" + seconds;
        
                duration--;
            }
            else {
                document.getElementById("timer").innerHTML = "Contest Over";
            }
        }

        if (duration >= 0 || !timerActive){

            //update table
            fetch("/api/players?id={{ id }}")
                .then(response => response.json())
                .then(function(players){
                    for (let player of players) {
                        player.push(player[2].reduce((a, b) => a + b, 0));
                    }
                    players.sort((a, b) => b[4] - a[4]);

                    document.getElementById("player-list").innerHTML = "";
                    for (let i=0; i<players.length; i++) {
                        let row = document.createElement("tr");
                        if (i == 0){
                            row.innerHTML = `
                            <td style="color:#E6AB21;"> ${i+1}</td>
                            <td style="color:#E6AB21;"><b>${players[i][1]}</b></td>
                            <td style="color:#000000;">${players[i][4]}</td>
                            `;
                        }

                        if (i == 1){
                            row.innerHTML = `
                            <td style="color:#D81159;"> ${i+1}</td>
                            <td style="color:#D81159;"><b>${players[i][1]}</b></td>
                            <td style="color:#000000;">${players[i][4]}</td>
                            `;
                        }

                        if (i == 2){
                            row.innerHTML = `
                            <td style="color:#324376;"> ${i+1}</td>
                            <td style="color:#324376;"><b>${players[i][1]}</b></td>
                            <td style="color:#000000;">${players[i][4]}</td>
                            `;
                        }

                        if (i > 2){
                            row.innerHTML = `
                            <td> ${i+1}</td>
                            <td><b> ${players[i][1]}</b></td>
                            <td> ${players[i][4]}</td>
                            `;
                        }

                        for (let j=0; j<players[i][2].length; j++) {
                            let cell = document.createElement("td");
                            cell.innerHTML = players[i][2][j];
                            if (players[i][2][j] == 100) {
                                cell.className = "prob success";
                            }
                            else if (players[i][2][j] > 0) {
                                cell.className = "prob partial";
                            }
                            else if (players[i][2][j] == 0) {
                                cell.className = "prob";
                            }
                            else {
                                cell.className = "prob fail";
                            }
                            row.appendChild(cell);
                        }
                        document.getElementById("player-list").appendChild(row);
                    }
                });
        }
    }
    setInterval(update, 1000);
    update();
</script>
{% endblock %}